<form action="/robots/<%= @robot.id %>" method="POST">
  <input type="hidden" name="_method" value="PUT" />
  <input type="text" name="name">
  <input type="text" name="description">
  <input type="submit" value="Update Bleep Boop Bitch Please">
</form>